<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="eu.senla.listeners.SuiteXmlTransformer"/>
        <listener class-name="eu.senla.listeners.ScreenshotListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="Smoke">
        <classes>
            <class name="eu.senla.LoginTest"/>
            <class name="eu.senla.LogoutTest"/>
        </classes>
    </test>
</suite>